.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/speedometer-img.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading1 {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}
.heading2 {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 30px;
}
.para {
  color: #94a3b8;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 17px;
}
.button1 {
  background-color: #0b69ff;
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  margin: 7px;
  border-color: #0b69ff;
  border-radius: 8px;
}
.button2 {
  background-color: transparent;
  font-family: 'Roboto';

  color: #94a3b8;
  border: solid 2px #94a3b8;
  border-radius: 8px;
  font-weight: bold;
  padding: 10px;
  margin: 7px;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
